body {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #011627;
  color: #FDF7FA;
}

.navbar--logo {
  margin-right: auto;
  padding-left: 20px;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  margin-right: 20px;
}

.drivers {
  padding: 10px 35px;
  margin-top: 0px;
}

.titles {
  display: flex;
  align-items:baseline;
}

.text {
  margin-right: 20px;
}

.data {
  display: flex;
  flex-wrap: wrap;
}
/* 
.data--table {
  height: 1vh;
  width: .5vw;
} */